:root {
    --cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --blue-primary: hsl(212, 21%, 14%);
    --blue-secondary: hsl(228, 12%, 48%);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--cream);
}

p {
    font-size: 1.4rem;
    color: var(--blue-secondary);
}

.heading {
    color: var(--blue-primary) !important;
    font-size: 2.8rem;
    line-height: 2.8rem;
}

.text-primary {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.text-secondary {
    font-family: 'Montserrat', sans-serif;
}

.card-container {
    max-width: 52rem;
    height: 39rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
}

.hero {
    min-width: 26rem;
    background-image: url('../images/image-product-desktop.jpg');
    background-size: cover;
}

.main-content {
    padding: 2.8rem 2.4rem 2.4rem 2.8rem;
}

.product-type {
    letter-spacing: 0.5rem;
    font-size: 1rem;
}

.price {
    font-size: 2.9rem;
    color: var(--cyan) !important;
}

.before-price {
    font-size: 1.2rem;
    text-decoration: line-through;
}

.cta {
    padding: 1rem;
    width: 100%;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    background-color: var(--cyan);
    border: none;
    margin: 1.2rem 0;
}

.cta > img {
    margin-right: 0.8rem;
}

.body-text {
    margin: 2rem 0;
}

@media (max-width: 767px) {

    .card-container {
        height: 100%;
    }

    .hero {
        background-image: url('../images/image-product-mobile.jpg');
        background-size: cover;
        min-height: 70vw;
    }

    .heading {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    p, .cta {
        font-size: 1.8rem;
    }

    .product-type, .before-price {
        font-size: 1.4rem;
    }

    .cta > img {
        width: 1.8rem;
    }
}